<a class="button return" href="#/books">Back</a>

<a class="button back" ng-if="previousChapterIndex !== null"
  href="#/books/{{ currentBookIndex }}/chapters/{{ previousChapterIndex }}">Voltar</a>
<div class="chapter">
  <p><span class="title"> {{ book.title }} </span> <span class="author"> {{ book.author }} </span></p>
  <h2 class="chapter-title"> {{ chapter.title }} </h2>

  <p>{{ chapter.paragraphs }}</p>

  <a class="button next" ng-if="nextChapterIndex !== null"
    href="#/books/{{ currentBookIndex }}/chapters/{{ nextChapterIndex }}">Next</a>

</div>